@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url('/NewFolder/clinic.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
</head>
<body>
    <p class="text-center">
        <h1 class="display-4">Welcome to the clinic management System</h1>

    </p>


</body>
</html>
